@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700;800&display=swap');

@media (min-width: 768px) {
  .custom-line-container img {
      width: 75%; /* Ensure the image fills the container */
  }
}
html,
body {
  background-color: #060606 !important;
  font-family:
    'Rubik',
    -apple-system,
    BlinkMacSystemFont,
    Segoe UI,
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    Fira Sans,
    Droid Sans,
    Helvetica Neue,
    sans-serif;
  contain: paint;
  /* -webkit-overflow-scrolling: touch; */
  scroll-behavior: smooth;
  overflow-x: hidden;
  overflow-y: scroll;
  height: 100vh;
  min-height: 100vh;
}

/* .gradient-border {
  position: relative;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.gradient-border::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  border: 2px solid transparent;
  border-image: linear-gradient(to right, #4a4ce3, #6f709f94) 1;
  border-image-slice: 1;
  pointer-events: none;
} */

/*** iPhone and iOS Form Input Zoom Fixes ***/
/* Fix Input Zoom on devices older than iPhone 5: */
@media screen and (device-aspect-ratio: 2/3) {
  select,
  textarea,
  input[type='text'],
  input[type='password'],
  input[type='datetime'],
  input[type='datetime-local'],
  input[type='date'],
  input[type='month'],
  input[type='time'],
  input[type='week'],
  input[type='number'],
  input[type='email'],
  input[type='url'] {
    font-size: 16px;
  }
}

/* Fix Input Zoom on iPhone 5, 5C, 5S, iPod Touch 5g */
@media screen and (device-aspect-ratio: 40/71) {
  select,
  textarea,
  input[type='text'],
  input[type='password'],
  input[type='datetime'],
  input[type='datetime-local'],
  input[type='date'],
  input[type='month'],
  input[type='time'],
  input[type='week'],
  input[type='number'],
  input[type='email'],
  input[type='url'] {
    font-size: 16px;
  }
}

/* Fix Input Zoom on iPhone 6, iPhone 6s, iPhone 7  */
@media screen and (device-aspect-ratio: 375/667) {
  select,
  textarea,
  input[type='text'],
  input[type='password'],
  input[type='datetime'],
  input[type='datetime-local'],
  input[type='date'],
  input[type='month'],
  input[type='time'],
  input[type='week'],
  input[type='number'],
  input[type='email'],
  input[type='tel'],
  input[type='url'] {
    font-size: 16px;
  }
}

/* Fix Input Zoom on iPhone 6 Plus, iPhone 6s Plus, iPhone 7 Plus, iPhone 8, iPhone X, XS, XS Max  */
@media screen and (device-aspect-ratio: 9/16) {
  select,
  textarea,
  input[type='text'],
  input[type='password'],
  input[type='datetime'],
  input[type='datetime-local'],
  input[type='date'],
  input[type='month'],
  input[type='time'],
  input[type='week'],
  input[type='number'],
  input[type='email'],
  input[type='tel'],
  input[type='url'] {
    font-size: 16px;
  }
}

/* Override user agent styles for autofill */
.my-select:-webkit-autofill {
  border-radius: 6px;
  box-shadow: 0 0 0px 100px #252525 inset;
  -webkit-text-fill-color: #7987ff;
  /* color: #7987ff !important; */
  /* background: black !important; */
  /* Add any other necessary styles to override autofill */
}

@media screen and (min-width: 1024px) {
  html,
  body {
    overflow-y: auto;
    height: unset;
    min-height: 0;
  }
}

/* to remove tap highlight in mobile */

input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
@layer components {
  .container {
    @apply max-w-[90rem] mx-auto;
  }

  .linkStyle {
    @apply text-content hover:text-white cursor-pointer;
  }

  .h3 {
    @apply text-xl md:text-3xl lg:text-4xl font-semibold;
  }

  @layer utilities {
    .scrollbar::-webkit-scrollbar {
      width: 3px;
      height: 3px;
    }

    .scrollbar::-webkit-scrollbar-track {
      border-radius: 10vh;
      background: #202020;
    }

    .scrollbar::-webkit-scrollbar-thumb {
      background: #3f3f3f;
      border-radius: 100vh;
      border: 3px solid #414040;
    }

    .scrollbar::-webkit-scrollbar-thumb:hover {
      background: #414040;
    }
  }
}
@layer button {
  .shiny {
    color: white;
    position: relative;
    border: none;
    padding: 10px 15px;
    background: #3984ff;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
    overflow: hidden;
  }

  .shiny::after {
    content: '';
    position: absolute;
    top: calc(var(--y, 0) * 1px - 20px);
    left: calc(var(--x, 0) * 1px - 20px);
    width: 50px;
    height: 50px;
    background: t;

    opacity: 0;
    transition: opacity 0.2s;
  }

  .shiny:hover::after {
    opacity: 0.4;
  }
  .trail {
    position: absolute;
    top: 0;
    left: 0;
    width: 10px;
    height: 10px;
    background-color: blue;
    border-radius: 50%;
    opacity: 0;
  }


  @layer mySwiper {
    .swiper {
      width: 100%;
      height: 200%;
    }

    .swiper-slide {
      text-align: center;
      font-size: 18px;
      background: none;

      /* Center slide text vertically */
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .radio {
      outline: none;
      cursor: pointer;
      position: relative;
      background-color: #212121;
      border-radius: 999px;
      border: 1px solid #777777;
      width: 18px;
      height: 18px;
      -webkit-appearance: none;
    }

    .radio:checked {
      background: #1f1f1f;
      border-color: #777777;
      box-shadow: inset 0 0 0 1px #777777;
    }

    .radio:checked::after {
      content: '';
      display: block;
      background-color: #7987ff;
      border-radius: 50%;
      width: 10px;
      height: 10px;
      position: absolute;
      top: 4px;
      left: 4px;
    }

    /* Styling the range input
    .custom-range {
      -webkit-appearance: none;
      width: 100%;
      height: 6px;
      border-radius: 5px;

      background: linear-gradient(89.93deg, #9440ff 0.11%, #2079ff 108.97%);
      outline: none;
    } */

    /* Styling the slider thumb */
    /* .custom-range::-webkit-slider-thumb {
      -webkit-appearance: none;
      appearance: none;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      background: linear-gradient(89.93deg, #9440ff 0.11%, #2079ff 108.97%), #3e3e3e;
      cursor: pointer;
    } */

    /* Styling the slider thumb on hover */
    /* .custom-range::-webkit-slider-thumb:hover {
      background: linear-gradient(89.93deg, #9440ff 0.11%, #2079ff 108.97%), #3e3e3e;
    } */

    /* Styling the slider thumb when active/being dragged */
    /* .custom-range::-webkit-slider-thumb:active {
      background: linear-gradient(89.93deg, #9440ff 0.11%, #2079ff 108.97%), #3e3e3e;
    } */

    .swiper-slide img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    .swiper-button-next,
    .swiper-button-prev {
      opacity: 0;
      outline: none;
    }

    .swiper-pagination-bullet {
      background-color: white !important;
      opacity: 1 !important;
    }
    .swiper-pagination-bullet-active {
      background-color: #6369ff !important;
      bottom: 10px; /* adjust the distance from the bottom as needed */
      /* left: 50%;
    transform: translateX(-50%); */
    }
  }
}
